.piChart {
    margin-top: -5%;
}

.piChart div {
    left: -5%;
}

.piChart div g text {
    font-size: 11px;
}

.piChart rect {
    fill: transparent;
}

.absolute {
    position: absolute;
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}